<div class="container">
  <h1 class="header">Dashboard</h1>

  <div class="row g-4">
    <!-- Upcoming Events -->
    <div class="col-12 col-md cardStyles">
      <div class="card text-center">
        <div class="card-body">
          <div class="upper">
            <img src="./assets/images/calendar.svg" id="calendar" alt="calendar">
              <!-- <i class="bi bi-calendar-event display-4 text-primary mb-3"></i> -->
              <h5 class="card-title">Upcoming Events</h5>
              <!-- <p class="card-text text-muted">3 upcoming events</p> -->
            
          </div>
          <div class="lower">
            <a routerLink="/calendar" class="btn btn-sm mt-2"
              >View Calendar</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- To-Do Tasks -->
    <div class="col-12 col-md cardStyles">
      <div class="card text-center">
        <div class="card-body">
          <div class="upper">
            <img src="./assets/images/checkbox.svg" id="checkbox" alt="checkbox">
            <!-- <i class="bi bi-list-task display-4 text-success mb-3"></i> -->
            <h5 style="margin-top: .5rem;" class="card-title">To-Do List</h5>
            <!--<p class="card-text text-muted">5 tasks remaining</p>-->
          

            <!-- Progress Bar -->
            <!-- <div class="progress my-2" style="height: 8px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div> -->
          </div>
          <div class="lower">
            <a routerLink="/todo" class="btn btn-sm mt-2"
              >View Tasks</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Classes -->
    <div class="col-12 col-md cardStyles">
      <div class="card text-center">
        <div class="card-body">
          <div class="upper">
            <img src="./assets/images/book.svg" id="book" alt="book">
            <!-- <i class="bi bi-mortarboard display-4 text-info mb-3"></i> -->
            <h5 class="card-title">Classes</h5>
            <!-- <p class="card-text text-muted">Stay organized! 🎓</p> -->
            <!-- <span class="badge mb-2">4 Active Classes</span> -->
          </div>
          <div class="lower">
            <a routerLink="/classes" class="btn btn-sm mt-2"
              >Manage Classes</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
